body {
  background-color: blanchedalmond;
  margin-left: 30px;
}



h1 {
  color: plum; 
  font-size: 70px;
}

p {
  color: aquamarine;
  font-size: 30px;
}

p a {
  color: lightsalmon;
  font-size: 20px;

}

#boba {
  color: green;
}

.bright {
  color: yellow;
}